streamlit
PyPDF2
python-dotenv
faiss-cpu
openai
sentence-transformers
beautifulsoup4
google-genai

langchain==0.2.16
langchain-classic==1.0.2
langchain-community==0.2.16
langchain-core==0.2.43
langchain-google-genai==1.0.10
langchain-openai==0.1.25
langchain-text-splitters==0.2.4